* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --calendar-main-color: #70f9e0;
}

body {
  color: white;
  background: url(assets/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}